{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content_block %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  <fieldset>
  <legend>Anmelden für Mitglieder und registrierte Gäste:</legend>
  {% csrf_token %}
  <div id="my_form">
  {{ form.as_p }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %} &raquo</button>
  <p></p>
  
  </fieldset>
</form>

<fieldset>
    <legend>Gäste:</legend>
    <p>Sie sind kein Mitglied und noch nicht als Gast registriert und wollen einen Tennisplatz reservieren, dann erstellen Sie bitte einen Gastzugang</p>
    <form action="{% url 'account_signup' %}">
      <button type="submit">Gast Registrierung &raquo</button>
    </form>
    <p>Sie haben sich bereits registriert und haben Ihr Passwort vergessen.</p>
    <form action="{% url 'account_reset_password' %}">
      <button type="submit">Passwort vergessen &raquo</button>
    </form>
</fieldset>

{% endblock %}
