{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content_block %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<p>Für die Anmeldung benötigen wir ihren Namen und Ihre E-Mail Adresse.
Falls Sie <b>keine</b> gültige E-Mail Adresse angeben, können Sie gegebenfalls ihr Passwort nicht mehr zurücksetzen.
<br>
Wenn Sie eine gültige E-Mail Adresse angeben, wird automatisch eine Bestätigungsmail an Sie gesendet.
Bitte bestätigen Sie diese E-mail durch Klick auf den enthaltenen Link.
<br>
Anmerkung: Gastzugänge werden jährlich automatisch gelöscht.
</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div id="my_form">
  {{ form.as_p }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
