{% extends "base.html" %} 
{% block body_block %}

<div class="message"></div>
<div class="content">

{% if user.is_superuser %}
<br>
<form action="{% url 'courtstatuscreate' %}">
<button class="button_1" type="submit">Neue Platzsperre eingeben</button> 
</form>
<br><br>
<hr>
{% endif %}
  
{% if object_list %}
{% for courtstatus in object_list %}
  <fieldset>
    <legend>Platzsperre: {{ courtstatus.id }}</legend>
      {% if user.is_superuser %}
      <form action="{% url 'courtstatusdelete' courtstatus.id %}">
        <button class="button_1" type="submit">Sperre aufheben</button> 
      </form>
      {% endif %}
  <span class="userinput">{{ courtstatus.lock_date|date:'D, d N Y' }}: {{ courtstatus.lock_comment }}</span>
  </fieldset>

{% endfor %}
{% else %}
<fieldset>
  <legend>Platzsperre:</legend>
  <p class="userinput">Keine Sperren. Plätze sind bespielbar.</p>
</fieldset>
{% endif %}
<br>
</div>

{% endblock %}