{% extends "base.html" %} 
{% block content_block %}
<div class="message"></div>
<div class="content">
    <h1>TC Zellerndorf Platzeinteilung</h1>
    <p>Auf dieser Seite gibt es Informationen über die Tennisplätze des TC-Zellerndorfs:
        <ul>
        <li>Informationen zum <a href="#Platzinformation">Bespielbarkeit der Plätze</a></li>
        <li>Information zur <a href="#Platzreservierung">Platzreservierung</a></li>
        </ul>
    </p>
    <p>Mitglieder des TC-Zellerndorfs können:
        <ul>
        <li>Sich <a href="#Anmeldung">anmelden</a></li>
        <li>Plätze für sich und andere Mitglieder<a href="#Platzreservierung">reservieren/freigeben</a></li>
        </ul>
    </p>
    <p>Gastmitglieder können:
        <ul>
        <li>Sich als Gastspieler <a href="#Registrierung">registrieren</a></li>
        <li>Sich <a href="#Anmeldung">anmelden</a></li>
        <li>Plätze für sich <a href="#Platzreservierung">reservieren/freigeben</a></li>
        </ul>
        </p>
    <p>Es gibt folgenden Unterseiten:
        <ul>
            <li>Hilfeseite</li>
            <li>Anmeldeformular</li>
            <li>Registrierungsformular (für Gäste)</li>
            <li>Platzreservierungsseite</li>
            <li>Platzinformationsseite</li>
        </ul> 
    </p>
    <hr>
    <h2>Hilfeseite</h2>
    {% load static %}

    <p>Die Navigation erfolgt durch Anklicken einer der 3 Menutasten</p>
    <p>
        <img src="{% static 'img/navbar_heute.png' %}" alt="Aktuellen Tag anzeigen"> Die Platzeinteilung des aktuellen Tages wird angezeigt</h4>
        Im nicht angemeldeten Zustand ist keine Änderung von Reservierungen erlaubt.
    </p>
    <p>
        <img src="{% static 'img/navbar_anmelden.png' %}" alt="Anmeldeformular öffnen"> Das Anmeldeformular wird angewählt. 
        Aus dem Anmeldeformular kann für Gäste das Registrierungsformular geöffnet werden.
    </p>
    <p>
        <img src="{% static 'img/navbar_hilfe.png' %}" alt="Hilefeseite anzeigen"> Diese Hilfeseite wird angewählt
    </p>
    <hr>
    <h2 id="Anmeldung">Anmeldeformular</h2>
    <p>Im Anmeldeformular müssen Namen und Passwort eingegeben werden. Der Name besteht aus Familien- und Vorname eines Mitglieds bzw. registrierten Gasts
    (getrennt durch ein Leerzeichen).<br>
    Nicht registrierte Gäste können das Registrierungsformular aufrufen und so einen Gast Zugang erstellen. (klick auf Gast Registrierung)
    </p>

    <p>
        Wurden Name und Passwort falsch eingegeben wird zur erneuten Eingabe aufgefordert. Bei erfolgreicher Anmeldung wird automatisch
        die Platzeinteilung des aktuellen Tages angewählt - wobei in der Navigationsleiste "Anmelden" durch die "Abmelden"
        ersetzt wird und der angemeldete Benutzer angezeigt wird.
    </p>
    <p>
        <img src="{% static 'img/navbar_abmelden.png' %}" alt="Abmelden">
    </p>
    <p>
        Durch Klick auf "Abmelden" wird der angemeldete Benutzer abgemeldet.
    </p>
    <hr>
    
    <h2 id="Registrierung">Registrierungsformular (für Gäste)</h2>
    <p> Zum Registrierungsformular gelangen Sie aus dem Anmeldeformular durch Klick auf "Gast Registrierung".
        Im Registrierungsformular müssen Namen und Passwort eingegeben werden. Der Name sollte aus Familien- und Vorname des Gasts
        (getrennt durch ein Leerzeichen) und wenn möglich eine gültige E-Mail Adresse enthalten.
        Ohne gültige E-Mail Adresse kann ein eventuell vergessenes Passwort nicht zurückgesetzt werden. 
        Nähere Erläuterungen finden Sie im Registrierungsformular.
    </p>
    <p>
    </p>
    <hr>
    <h2 id="Platzreservierung">Platzreservierung</h2>
    <h3>Anzeige des Datums</h3>
    <p>Bei den meisten Browsern (firefox, chrome, edge) öffnet sich durch einen Klick in das Datumsfeld ein Datumsdialog
        (bei älternen Browsern kann das Datum direkt in das Feld eingegeben werden). 
        Zusätzlich können auch die beiden Pfeiltasten zum Vor und Zurückblättern verwendet werden.
    </p>
    <p>
        <img src="{% static 'img/navbar_datum.png' %}" alt="Aktueller Tag">
    </p>
    <h3>Name des Mitglieds</h3>
    <p>In diesem Feld wird der Name angezeigt für den die Reservierung gemacht wird. Nach dem Anmelden ist dieser Name mit dem
        Namen des angemeldeten Mitglieds identisch. Durch Klick in das Namensfeld wird die Mitgliederliste angezeigt. Durch
        Auswahl (Klick auf einen Namen) wird der Name etsprechend geändert.
    </p>
    <p>
        <img src="{% static 'img/navbar_mitglied_aktuell.png' %}" alt="Mitglied">
    </p>
    Hinweis: Bei geöffneter Auswahlliste wird durch Eintippen von Buchstaben in der Mitgliederliste navigiert.
    <p>
        <img src="{% static 'img/navbar_mitglied.png' %}" alt="Mitglied">
    </p>
    <p>
        Nach der Auswahl des Datums (1) und des Namens (2) kann eine freie Stunde angeklickt (3) werden und durch Klick auf "Speichern" (4) 
        der Platz reserviert werden
    </p>
    <p>
        <img src="{% static 'img/reservierung_form_frei.png' %}" alt="Stunde reservieren">
    </p>
    <p>
        Nach erfolgreicher Reservierung wird der Name bei der reservierten Stunde eingetragen (1) und in der Statuszeile die zeitmässig 1te Reservierung angezeigt (2)
    </p>
    <img src="{% static 'img/reservierung_form_belegt.png' %}" alt="Stunde freigeben">
    <p></p>
    <p>
        die Freigabe eines Platzes erfolgt durch Auswahl der entsprechenden Stunde und Klick auf "Speichern"
    </p>
    <p>
        Tritt bei der Reservierung ein Problem auf wird ein entsprechende Fehlertext ausgegeben (1) (zum Beispiel wenn die maximale Anzahl
        der reservierten Stunden schon erreicht war)
    </p>
    <p>
        <img src="{% static 'img/reservierung_form_belegt_error.png' %}" alt="Stunde freigeben">
    </p>
    <p>
        Trainerstunden werden zunächst vom Trainer eingetragen. Sie sind als "Frei TPI" zu erkennen (Bild 1).
        Nach der Auswahl des Datums und des Namens kann eine freie Stunde angeklickt (1) werden und durch Klick auf "Speichern" (2) 
        der Trainer reserviert werden. Nach dem "Speichern" wird der TPI + Mitgliedsname angezeigt. 
        Das Stornieren erfolgt wie bei normalen Stunden durch erneutes Anwählen und Speichern einer reservierten Stunde.
    </p>
    <p>
        Info: Für die Anzahl der Trainerstunden gelten keine Einschränkungen. 
        Sie haben keinen Einfluss auf normale Reservierungen.
    </p>
    <p>
       <img src="{% static 'img/reservierung_form_belegt_tpi.png' %}" alt="Stunde reservieren">
    </p>
    <hr>
    <h2 id="Platzinformation">Platz Information</h2>
    <p>
        Durch Drücken auf "Platz Ok" wird die Platz Informationsseite angewählt. 
        Hier können berechtigte Mitglieder Platzsperren verhängen.
        Alle anderen Mitglieder können die Platzsperre(n) nur ansehen.
        Die Anwahlpunkte (1,2,3) sind nur für die berechtigten Mitglieder vorhanden.
    <p>
        <img src="{% static 'img/platz_status_gesperrt.png' %}" alt="Platzinformation">
    </p>
    </p>
    <p>
        Sind Platzsperren für das aktuell eingestellte Datum vorhanden 
        ändert sich die die Taste "Platz OK" auf "Platz Info" und in der Statuszeile wird die Ursache angegeben
        Sind mehrere Informationen für das eingestellte Datum vorhanden wird nur die 1te Information angezeigt.
        Platzsperren haben keinen Einfluss auf Reservierungen. Es gelten die unten stehenden Einschränkungen.
    </p>
    <p>
        <img src="{% static 'img/platz_status_info.png' %}" alt="Platzinformation">
    </p>
    <hr>
    <h2>Zusammenfassung</h2>
    <ul>
        <li>Bei der ersten Anwahl wird immer der aktuelle Tag vorgelegt</li>
        <li>Zum Reservieren eines Platzes bitte zuerst "Anmelden" - sonst kann man nur ansehen</li>
        <li>Reserviert werden kann für jedes Mitglied. Gäste können nur für sich selbst reservieren.</li>
        <li>In der Mitgliederliste kann durch eintippen eines Namesteils navigiert werden</li>
        <li>Reservieren durch Anklicken eines freien Platzes und Klick auf "Speichern"</li>
        <li>Freigeben funktioniert genauso - Es können nur Stunden für das eingestellte Mitglied freigegeben werden</li>
        <li>Das Datum kann durch Klick auf die Pfeile um einen Tag nach vor/zurück geändert werden</li>
        <li>bei einem Klick in das Datumsfeld wird ein Kalender zur Datumseingabe geöffnet</li>
    </ul>
    <h3>
        Einschränkungen bei der Reservierung
    </h3>
    <ul>
        <li>2 Stunden in der Zukunft für maximal 14 Tage im Voraus dürfen reserviert werden</li>
        <li>Wenn eine reservierte Stunde abgelaufen ist, kann erst ab dem nächsten Tag eine neue Stunde reserviert werden</li>
        <li>Reservierungen können bis maximal eine Stunde vor Spielbeginn storniert werden</li>
        <li>Reservierungen für die aktuelle Stunde bzw. ab der 45 Minute für die nächste Stunde werden als freie Stunden (grau)
            eingetragen. Diese freien Stunden sind unabhängig von der Anzahl der vorreservierten Stunden möglich und nicht
            limitiert.
        </li>
    </ul>

    <h3>Ausnahmen gibt es für "besondere" Mitglieder z.B. "Damen1", "Herren1", "TCZ"</h3>
    <ul>
        <li>diese haben keine Einschränkung bei der Anzahl der reservierten Stunden</li>
        <li>können Platzinformationen eingeben und löschen</li>
    </ul>
</div>
{% endblock %}