
/* default */
body{
    font: 15px/1.5  Helvetica, Arial, sans-serif;
    padding: 0;
    background-color: #c4c4c4;
}

/* grid layout classes */
.header_today {
    grid-area: header_today;
}

.header_lock {
    grid-area: header_lock;
}

.header_date_label {
    grid-area: header_date_label;
}

.header_date {
    grid-area: header_date;
}

.header_user_label {
    grid-area: header_user_label;
}

.header_user {
    grid-area: header_user;
}

.header_help_link {
    grid-area: header_help_link;
}

.header_login_label {
    grid-area: header_login_label;
}

.header_login_link {
    grid-area: header_login_link;
}

.header_login_name {
    grid-area: header_login_name;
}

.header {
    display: grid;
    grid-area: header;
    grid-gap: 0.1em;
    grid-template-areas:
      "header_today"
      "header_lock"
      "header_date_label"
      "header_date"
      "header_user_label"
      "header_user"
      "header_login_label"
      "header_login_name"
      "header_help_link"
      "header_login_link"
}

.message {
    grid-area: message;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/* grid layout default*/
.wrapper{
    display: grid;
    grid-gap: 0.1em;
    grid-template-areas:
      "header"
      "message"
      "content"
      "footer"
  }

/* media query
 * header for normal computer displays
 * smaller displays will get default .header layout - see above
*/
@media only screen and (min-width: 1560px)  {
    .header {
        grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
        grid-template-areas:
          "header_today   header_date_label  header_user_label  header_login_label  header_help_link"
          "header_lock    header_date        header_user        header_login_name   header_login_link"
    }
}

@media only screen and (min-width: 750px) and (max-width: 1559px) {
    .header {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
          "header_today        header_help_link"
          "header_lock         header_login_link"
          "header_date_label   header_date"
          "header_user_label   header_user"
          "header_login_label  header_login_name"
    }
}
/* styles for classes */
.button_1{
    height: 40px;
    background: #e8491d;
    border: 0;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e4e4e4;
    vertical-align: top;
    font-size: 28px;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.content{
    border-bottom: #e8491d 3px solid;
}

.header_login_name{
    color: #e4e4e4;
    font-size: 25px;
}

.errorlist{
    color: #ff0000;
    font-size: 25px;
}
.message-lock{
    padding: 10px;
    font-size: 20px;
    background: #993300;
    color: #e4e4e4;
    border-bottom: #e8491d 3px solid;
}
.message-error{
    padding: 10px;
    font-size: 20px;
    background: #e8491d;
    color: #e4e4e4;
    border-bottom: #e8491d 3px solid;
}

.message-info{
    padding: 10px;
    font-size: 20px;
    background: #8b290e;
    color: #e4e4e4;
    border-bottom: #e8491d 3px solid;
}

.message-success{
    padding: 10px;
    font-size: 20px;
    background: #35424a;
    color: #e4e4e4;
    border-bottom: #e8491d 3px solid;
}

.navicon{
    height: 40px;
    width: 40px;
    padding: 0%;
    border: 0;
}

.primary_email{
    font-size: 20px;
}
.userinput{
    font-size: 28px;
    margin: 0px;
}

.table-content{
    width: 350px;
    height: 40px;
    font-size: 20px;
}

.courtstatusnok{
    color: #e8491d;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

.courtstatusok{
    color: #97a4ac;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

.courtunlock:hover{
    color: #97a4ac;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

/* styles for html elements */
button{
    height: 40px;
    background: #e8491d;
    border: 0;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e4e4e4;
    vertical-align: top;
    font-size: 28px;
}

footer{
    padding: 0px;
    color: #e4e4e4;
    background: #35424a;
    text-align: center;
    font-size: 20px;
    margin-left: 0px;
    text-decoration: none;
}

form{
    display: inline-block;
}

header{
    background: #35424a;
    color: #e4e4e4;
    padding-top: 5px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

a{
    color: #e8491d;
    text-decoration: none;
    font-size: 25px;
    margin-left: 10px;
}

li > a{
    color: #e8491d;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5px;
}
a:hover{
    color: #ff0009;
}

header nav{
    float: right;
    margin-top: 10px;
}

hr {
    width: 95%;
    height: 5px;
    margin: 0 auto;
    background: #e8491d;;
}

input[type="date"]{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 28px;
    width: 245px;
    font-size: 28px;
    vertical-align: top;
}

th{
    background-color: #35424a;
    color: #e4e4e4;;
}

p label{
    width: 300px;
    margin: 10px;
}
#id_lock_comment, #id_username, #id_password, #id_password1, #id_password2, #id_oldpassword, #id_email, #id_login{
    font-size: 28px;
    margin: 0px;
    width: 600px;
}

#my_form p label,
#my_form p input{
    display: block;
}