{% extends "base.html" %}

{% block body_block %}
<div class="message"></div>
<div class="content">
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Anmelden:</legend>
      <label for="id_username">Name:</label><br>
      <input type="text" name="username" required id="id_username" />
      <br>
      <label for="id_password">Passwort:</label><br>
      <input type="password" name="password" required id="id_password" />
      <br>
      <p></p>
      <button class="button_1" type="submit">Anmelden</button>
    </fieldset> 
    <p></p>
  </form>
</div>
{% endblock %}