{% extends 'base.html' %}

{% block body_block %}
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Passwort vergessen:</legend>
      <p>Nach Eingabe der E-mail Adresse wird eine email mit den Informationen zum 
        Rücksetzen des Passworts gesendet.
      </p>
      <label for="id_email">E-Mail-Adresse</label><br>
      <input id="id_email" type="email" name="email" required=""/>
      <br>
      <p></p>
      <button class="button_1" type="submit">Passwort rücksetzen</button>
    </fieldset> 
    <p></p>
  </form>
{% endblock %}